* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/pixabay_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.heading {
  border: black solid 2px;
  color: antiquewhite;
  background-color: rgb(55, 55, 112);
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
}

.App {
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vh;

  border: black double 5px;
  border-radius: 5px;
  margin: 15px;
}

.activityInfo {
  border: 2px solid black;
  margin: 15px;
  padding: 0 5px;
  background-color: rgb(55, 55, 112);
  border-radius: 5px;
  color: antiquewhite;
  padding: 10px;
}

.activityInfo h4 {
  padding-bottom: 10px;
}

button {
  margin: 15px;
  padding: 5px;
  background-color: rgb(55, 55, 112);
  border-radius: 5px;
  color: antiquewhite;
}

/* Loading symbol */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 3px solid antiquewhite;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: antiquewhite transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
